<h1>Badges</h1>

<div class="container-fluid badge-type">
    <div class="pull-left"><b>
      <%= link_to image_tag("bronze.cms", alt: "Badges", :width => "100px"), '#' %>
    </b></div>
    <div class="badge-content">
      Register to this site to achieve this medal
    </div>
</div>
<div class="container-fluid badge-type">
    <div class="pull-left"><b>
      <%= link_to image_tag("silver.cms", alt: "Badges", :width => "100px"), '#' %>
    </b></div>
    <div class="badge-content">
      Score points grater than 100 to achieve this medal
    </div>
</div>
<div class="container-fluid badge-type">
    <div class="pull-left"><b>
      <%= link_to image_tag("gold.cms", alt: "Badges", :width => "100px"), '#' %>
    </b></div>
    <div class="badge-content">
      Score points grater than 250 to achieve this medal
    </div>
</div>
<div class="container-fluid badge-type">
    <div class="pull-left"><b>
      <%= link_to image_tag("platinum.cms", alt: "Badges", :width => "100px"), '#' %>
    </b></div>
    <div class="badge-content">
      Score points grater than 500 to achieve this medal
    </div>
</div>
<div class="container-fluid badge-type">
    <div class="pull-left"><b>
      <%= link_to image_tag("diamond.cms", alt: "Badges", :width => "100px"), '#' %>
    </b></div>
    <div class="badge-content">
      Score points grater than 1000 to achieve this medal
    </div>
</div>