<script type="text/javascript">
  shortcut.add("Ctrl+Shift+X",function() {alert("You Pressed Ctrl+Shift+X!");});
  shortcut.add("Ctrl+a",function() {alert("You pressed Ctrl+a!");});
  shortcut.add("/",function() {alert("You Pressed ?!");});
</script>

<h1>Points</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Gravatar</th>
      <th>User Name</th>
      <th>User Email</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
<% @points.each_with_index do |(key, value), index| %>
<% @user = @users[key-1] %>
  <tr<% if @user.id == current_user.id %> class = "success"<% end %>>
    <td> <%= key %> </td>
    <td> <%= gravatar_for(@user, size:40) %> </td>
    <td> <%= @user.name %> </td>
    <td> <%= @user.email %> </td>
    <td> <%= value %> </td>
  </tr>
<% end %>
  </tbody>
</table>