<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li>
              <%= form_tag users_search_path,  :class => 'navbar-form navbar-left', :role => 'search' do %>
               <%=  autocomplete_field_tag 'name', '', users_autocomplete_user_name_path, :placeholder => 'Search...', :id => 'search-field' %>
              <% end %>
          </li>
          <% end %>
          <li><%= link_to "Home", root_path %></li>
          <% if !signed_in? %>
            <li><%= link_to "Badges", badges_path %></li>
          <% end %>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "points", users_points_path %></li>
            <li><%= link_to "Activity", users_activity_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<% if signed_in? %>
  <% if points < 100 %>
    <%= link_to image_tag("bronze.cms", alt: "Badges"), badges_path, :class => 'pos_fixed' %>
  <% elsif points < 250 %>
    <%= link_to image_tag("silver.cms", alt: "Badges"), badges_path, :class => 'pos_fixed' %>
  <% elsif points < 500 %>
    <%= link_to image_tag("gold.cms", alt: "Badges"), badges_path, :class => 'pos_fixed' %>
  <% elsif points < 1000 %>
    <%= link_to image_tag("platinum.cms", alt: "Badges"), badges_path, :class => 'pos_fixed' %>
  <% else %>
    <%= link_to image_tag("diamond.cms", alt: "Badges"), badges_path, :class => 'pos_fixed' %>
  <% end %>
<% end %>